:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darBlue: hsl(218, 44%, 22%);
}

body {
  background: var(--grayishBlue);
  font-family: "Outfit", sans-serif;
}
